.pagination
{
	margin-top: 10px;
    margin-bottom: 20px;
	margin-left: 15px;
	
}
.pagination a{
	font-size: 20px;
	color:#487fee;
	
}
.pagination a:hover{
	color:#2cd983; 
}

.w-5{
	display: none;
}
.page{
	display: inline-block;
	
}
.z-0{
	display: none;
}
.pagination p{
	display: none;
}
.main_nav
{
	margin-left: 60px;
}
.main_nav ul li
{
	display: inline-block;
}
.main_nav ul li:not(:last-child)
{
	margin-right:15px;
}

.phone_num
{   text-align: center;
	height: 40%;
	width: 13.5%;
	margin-left: 20px;
    border-radius: 22px;
    background: linear-gradient(to right, #487fee, #32fa95);
    padding: 2px;
    overflow: hidden;
}
.phone_num_inner
{
	width: 100%;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	
	background: #3f6fce;
	border-radius: 20px;
}

.phone_num a
{
	font-size: 16px;
	font-weight: 500;
	color: #FFFFFF;
	margin-left: 11px;
	line-height: 39px;
}
.phone_num a:hover{
	color: #2cd983;
}